.skills__logo-panel {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	min-width: 100px;
	border-top: 2px solid var(--color-primary);
	border-left: 2px solid var(--color-primary);
}

.skills__logo {
	display: flex;
	gap: 5px;
	height: 40px;
	margin: 0;
	padding: 1rem;
}

.logo__icon {
	border-radius: 5px;
	width: 24px;
	height: 24px;
	padding: 4px;
}

body[data-theme='light'] .logo__icon[data-name='GitHub'] {
	filter: invert(100%);
}
body[data-theme='light'] .logo__icon[data-name='Next.js'] {
	filter: invert(100%);
}
body[data-theme='light'] .logo__icon[data-name='Express'] {
	filter: invert(100%);
}

.skills__caption {
	font-family: 'consolas';
	color: var(--color-primary-2);
}

@media screen and (max-width: 768px) {
	.skills__logo-panel {
		width: 40vw;
	}
}
